.grid {
    background-color: #ddd;
    padding: 15px;
    width: 800px;
    height: 400px;
    margin: auto;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 6fr;
    font-family: Arial, Helvetica, sans-serif;
}

.grid div {
    background-color: #607d8b;
    display: flex;
    align-items: center;
    justify-content: center;
    counter-increment: counter;
}

.grid div::before {
    content: "Element";
    color: white;
    font-size: larger;
    letter-spacing: 1px;
}

.grid div::after {
    content: counter(counter);
    color: white;
    font-size: larger;
    padding-left: 5px;
}