.parent {
    width: 600px;
    height: 300px;
    margin: 20px auto;
    padding: 10px;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
    font-size: 20px;
}

.parent div {
    padding: 10px;
    flex-grow: 1;
    background-color: #009688;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.two {
    align-self: flex-start;
    width: 350px;
}