:root {
    --main-color: #ff5722;
}

h1 {
    width: 150px;
    margin: 100px auto;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: var(--main-color);
}

h1::before, h1::after {
    width: 100%;
    height: 100%;
    content: "";
    background-color: var(--main-color);
    position: absolute;
    z-index: -1;
}

h1::before {
    transform: skew(10deg, 10deg);
}

h1::after {
    transform: skew(-10deg, -10deg);
}