* {
    margin: 0;
}

body {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

div:not(.no-need) :nth-last-of-type(2) {
    color: red;
} /* First Solution */

div :nth-last-of-type(2):not(.no-need :nth-last-child(2)) {
    color: red;
} /* Second Solution */