.assign-4-shape-1 {
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-size: 80% 80%;
    background-repeat: no-repeat;
}
.assign-4-shape-2 {
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-y;
    background-position: right;
    background-size: 350px 400px;
}
.assign-4-shape-3 {
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 400px 300px;
}
.assign-4-shape-4 {
    width: 400px;
    height: 400px;
    background-image: url(css-assignment-5-8.png);
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: right bottom;
}