* {
    margin: 0;
}

body {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

div:first-child :nth-child(5) {
    color: red;
} /* First Solution */

div:first-child :nth-last-child(2) {
    color: red;
} /* Second Solution */
