div {
    width: 400px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    border-top: 2.5px solid #ff0000;  
    border-right: 2.5px solid #0099ff;  
    border-bottom: 2.5px solid #ff0000;  
    border-left: 2.5px solid #0099ff;
    background-color: #eee;
    padding: 20px 15px;
    top: 20px;
    position: relative;
}

.top-left {
            background-color:#0099ff ;
            color: white;
            padding: 5px;
            width: 35px;
            height: 20px;
            display: block;
            text-align: center;
            border-right: 2.5px solid #ff0000;
            position: absolute;
            top: -15px;
            left: -25px;
}

.bottom-left {
            background-color:#0099ff ;
            color: white;
            padding: 5px;
            width: 35px;
            height: 20px;
            display: inline-block;
            text-align: center;
            border-right: 2.5px solid #ff0000;
            position: absolute;
            bottom: -15px;
            left: -25px;
}

.top-right {
            background-color:#0099ff ;
            color: white;
            padding: 5px;
            width: 35px;
            height: 20px;
            display: inline-block;
            text-align: center;
            border-left: 2.5px solid #ff0000;
            position: absolute;
            top: -15px;
            right: -25px;
}

.bottom-right {
            background-color:#0099ff ;
            color: white;
            padding: 5px;
            width: 35px;
            height: 20px;
            display: inline-block;
            text-align: center;
            border-left: 2.5px solid #ff0000;
            position: absolute;
            bottom: -15px;
            right: -25px;
}